.cur-users{

}
.cur-user__name{
	font-weight: bold;
}
.cur-relations{
	margin-left: 15px;
}

.cur-types{

}
.cur-types__item{
	margin-bottom: 16px;
}
.cur-types__item--name{
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 8px;
}
.cur-states{
	margin-left: 20px;
}
.cur-states__item--name{

}

#cur-app{
	.cur-user_row{
		.column-name{
			font-weight: bold;
		}
		&.will-be-removed{
			.column-name{
				text-decoration: line-through;
			}
		}
		&.will-be-added{
			.column-name{
				color: green;
			}
		}
	}

	.cur-relations_list{
		margin: 0;
	}
	.cur-relations__item + .cur-relations__item{
		border-top: 1px solid #eee;
	}
	.cur-relations__item{


		&.will-be-removed{
			.name{
				text-decoration: line-through;
			}
		}
		&.will-be-added{
			.name{
				color: green;
			}
		}
	}
}

#cur-user-autocomplete{
	margin: 8px 0;
}
#cur-user-autocomplete label{
	font-weight: bold;
}
#cur-user-autocomplete input{
	width: 260px;
}
.cur-autocomplete-user-item{
	border-bottom: 1px solid #eeeeee;
}
.user-item__user-email{
	font-size: 0.8em;
}
.user-item__ID{
	font-size: 0.8em;
}