#cur-app{
	.cur-user_row{
		.column-name{
			font-weight: bold;
		}
		&.will-be-removed{
			.column-name{
				text-decoration: line-through;
			}
		}
		&.will-be-added{
			.column-name{
				color: green;
			}
		}
	}

	.cur-relations_list{
		margin: 0;
	}
	.cur-relations__item + .cur-relations__item{
		border-top: 1px solid #eee;
	}
	.cur-relations__item{
		margin: 0;
		padding: 4px 0;
		.remove{
			margin-left: 10px;
			color: #a00;
			cursor: pointer;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}

		&.will-be-removed{
			.remove{
				color: #0073aa;
			}
			.name{
				text-decoration: line-through;
			}
		}
		&.will-be-added{
			.name{
				color: green;
			}
		}
	}

	.cur-controls{
		padding: 10px 0 0 0;
		display: flex;
		.cur-control + .cur-control{
			margin-left: 10px;
		}
		.ui-autocomplete-input{
			width: 260px;
		}
	}


}

.cur-autocomplete-user-item{
	& + & {
		border-top: 1px solid #eee;
	}
	.user-item__user-name{
		font-weight: bold;
	}
	.user-item__ID,
	.user-item__user-email{
		font-style: italic;
	}
}